# Table of Content
01. Import Libraries
02. Import Data
03. Dropping Unnecessary Columns
04. Renaming Columns
05. Export Data

# 01. Import Libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

# 02. Import Data

In [2]:
# Define the main project folder path
path = r'C:\Users\saich\Desktop\CareerFoundry\Data Immersion\Achievement 4 Python Fundamentals for Data Analysts\04-2023 Instacart Basket Analysis (github)'

In [3]:
# Import 'orders' data set from 'Original Data' folder
ords = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders.csv'), index_col = False)

In [4]:
ords.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [5]:
ords.shape

(3421083, 7)

# 03. Dropping Unnecessary Columns

In [6]:
# Drop the 'eval_set' column as it is not needed for the analysis
ords = ords.drop(columns = ['eval_set'])

In [7]:
ords.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

# 04. Renaming Columns

In [8]:
# Rename the 'order_dow' into 'order_day_of_week' for clarity purpose
ords.rename(columns = {'order_dow' : 'order_day_of_week'}, inplace = True)

In [9]:
ords.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

# 05. Export Data

In [10]:
# Dimension check for 'ords' dataframe after data wrangling
ords.shape

(3421083, 6)

In [11]:
# Export 'ords' dataframe to 'Prepared Data' folder in csv format
ords.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_wrangled.csv'))