# Table of Content
01. Import Libraries
02. Import Data
03. Finding Mixed-type Data
04. Data Accuracy
05. Finding Missing Values
06. Finding Duplicates
07. Export Data

# 01. Import Libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

# 02. Import Data

In [2]:
# Define the main project folder path
path = r'C:\Users\saich\Desktop\CareerFoundry\Data Immersion\Achievement 4 Python Fundamentals for Data Analysts\04-2023 Instacart Basket Analysis (github)'

In [3]:
# Import 'order_products__prior' data set from 'Original Data' folder
ords_prods_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'order_products__prior.csv'), index_col = False)

In [4]:
ords_prods_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [5]:
ords_prods_prior.shape

(32434489, 4)

# 03. Finding Mixed-type Data

In [6]:
# Check for any mixed-type columns - no output means no mixed-type data
for col in ords_prods_prior.columns.tolist():
    weird = (ords_prods_prior[[col]].applymap(type) != ords_prods_prior[[col]].iloc[0].apply(type)).any(axis = 1)
    if len (ords_prods_prior[weird]) > 0:
        print (col)

There is no mixed-type data in 'ords_prods_prior' dataframe.

# 04. Data Accuracy

In [7]:
# Check the descriptive statistics for numerical data
ords_prods_prior.describe()

           order_id    product_id  add_to_cart_order     reordered
count  3.243449e+07  3.243449e+07       3.243449e+07  3.243449e+07
mean   1.710749e+06  2.557634e+04       8.351076e+00  5.896975e-01
std    9.873007e+05  1.409669e+04       7.126671e+00  4.918886e-01
min    2.000000e+00  1.000000e+00       1.000000e+00  0.000000e+00
25%    8.559430e+05  1.353000e+04       3.000000e+00  0.000000e+00
50%    1.711048e+06  2.525600e+04       6.000000e+00  1.000000e+00
75%    2.565514e+06  3.793500e+04       1.100000e+01  1.000000e+00
max    3.421083e+06  4.968800e+04       1.450000e+02  1.000000e+00

There is no unusual data in 'ords_prods_prior' dataframe.

# 05. Finding Missing Values

In [8]:
# Check for missing values
ords_prods_prior.isnull().sum()

order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64

There is no missing value in 'ords_prods_prior' dataframe.

# 06. Finding Duplicates

In [9]:
# Check for duplicates
ords_prods_prior.duplicated().sum()

0

In [10]:
ords_prods_prior.loc[ords_prods_prior.duplicated()]

Empty DataFrame
Columns: [order_id, product_id, add_to_cart_order, reordered]
Index: []

There is no duplicate data in 'ords_prods_prior' dataframe.

# 07. Export Data

In [11]:
# Dimension check for 'ords_prods_prior' dataframe after data consistency check
ords_prods_prior.shape

(32434489, 4)

In [12]:
# Export 'ords_prods_prior' dataframe to 'Prepared Data' folder in csv format
ords_prods_prior.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_prior_checked.csv'))